body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #0c0c0c, #7ba88d);
  margin: 0;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 70%;
  background-color: rgba(102, 69, 69, 0.2);
  padding: 3%;
  border-radius: 1.5%;
  text-align: center;
  box-shadow: 0 0.5% 1.5% rgba(0, 0, 0, 0.3);
}

header,
footer {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 1.5% 0;
  padding: 2%;
  border-radius: 1.5%;
  font-weight: bold;
}

main {
  background: linear-gradient(to bottom right, rgba(136, 225, 250, 0.7), rgba(255, 255, 255, 0.5));
  border-radius: 1.5%;
  padding: 4%;
  box-shadow: 0 0.5% 1.5% rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.profile-img {
  width: 25%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  border: 0.5vw solid rgba(255, 255, 255, 0.8);
  margin-bottom: 2%;
  transition: transform 0.3s ease;
}

.profile-img:hover {
  transform: scale(1.05);
}

h2 {
  color: #003333;
  margin: 1.5% 0 0.5%;
}

p {
  color: #000;
  font-weight: bold;
  margin-bottom: 3%;
}

.proceed {
  display: inline-block;
  background-color: rgba(136, 225, 250, 0.8);
  padding: 1.5% 4%;
  border-radius: 1.5%;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 0 0.3% 1% rgba(0, 0, 0, 0.2);
}

.proceed:hover {
  background-color: rgba(136, 225, 250, 1);
  transform: scale(1.05);
}
