body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #0c0c0c, #7ba88d);
  margin: 0;
  padding: 2%;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  height: fit-content;
  background-color: rgba(102, 69, 69, 0.2);
  padding: 1%;
  border-radius: 10px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

header,
nav,
main,
footer {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 1% 0;
  padding: 2%;
  border-radius: 10px;
  font-weight: bold;
}

main {
  display: flex;
  gap: 1%;
  height: 100%;
}

nav {
  flex: 1;
  background-image: url(profile.jpg);
  background-position: center;
  background-size: cover;
}

header {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 1% 0;
  padding: 2%;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}

header .back {
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
  color: black;
  background-color: rgba(136, 225, 250, 0.8);
  padding: 1% 2%;
  border-radius: 8px;
  transition: 0.3s;
}

.content {
  flex: 2;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 2%;
}

.content a {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: rgba(136, 225, 250, 0.8);
  margin: 2% 0;
  padding: 10%;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  transition: 0.3s ease;
}

.content a:hover {
  background-color: rgba(136, 225, 250, 1);
  transform: scale(1.02);
}

p {
  color: black;
  text-align: center;
}
